.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    /* <= Новое свойство для ширины */
    /* Остальные свойства... */
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-content {
    font-size: 16px;
    line-height: 1.5;
}

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    /* Добавим пространство между блоками */
    margin-top: 56px;
}

.author-box {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    max-width: 350px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 30px);
}

.author-info {
    color: #000;
}

.author-name {
    color: #512da8;
    margin: 5px 0;
}

.author-desc {
    font-size: 16px;
    line-height: 1.5;
}

.author-gif {
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    .container {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }

    .section {
        margin-bottom: 40px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .section-content {
        font-size: 16px;
        line-height: 1.5;
    }

    .center {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 56px;
    }

    .author-box {
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
        max-width: 340px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% - 30px);
    }

    .author-info {
        color: #000;
    }

    .author-name {
        color: #512da8;
        margin: 5px 0;
    }

    .author-desc {
        font-size: 16px;
        line-height: 1.5;
    }

    .author-gif {
        border-radius: 15px;
        width: 100%;
        max-width: 200px;
        margin-bottom: 20px;
    }
}